@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', serif;
  transition: 0.2s;
}

a {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #999;
}

html {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html:has(body.dark-theme) {
  background-color: #0c0d11 !important;
}

body {
  width: 1200px;
  background-color: white;
}

body.dark-theme {
  background-color: #0c0d11 !important;
}

::-webkit-scrollbar {
  width: 0;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.switcher {
  font-weight: 500;
  cursor: pointer;
  color: #1f1f1f;
}

body.dark-theme .switcher {
  color: white;
}

section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.noscript {
  display: flex;
  justify-content: center;
  color: grey;
}
@media (max-width: 1200px) {
  body {
    width: 70%;
  }
}

@media (max-width: 700px) {
  html {
    background-color: white;
  }

  body {
    width: 100%;
  }
  section {
    margin-top: 30px;
  }
  footer {
    margin-top: 50px;
  }
  footer h3 {
    text-align: center;
  }
}
